@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pale-teal-green: #008080;
  --dark-teal-green: rgb(23, 114, 110);
  --darker-teal-green: rgb(19, 96, 92);
}

.no-animation {
  transition: none !important;
}


* {
  box-sizing: border-box;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

table, tr, th {
  box-sizing: border-box;
  border: none;
  border-collapse: collapse ;
}

.bg-grey {
  background-color: #f8fafc;
}

.pale-teal-green{
  background-color: #008080;
}

.dark-teal-green {
  background-color:  rgba(0, 0, 0, 0.1)

}

.base-nav-item {
  @apply flex items-center justify-center rounded-2xl px-3 py-2 transition-colors
}

.base-nav-item:hover {
  background-color: #037676;
}


.nav-table-btn:hover {
  background-color: var(--dark-teal-green);
}

.separator {
  height: 1rem;
  background-color: rgba(237, 237, 237, 0.2); 
  width: 1.1px; 
  margin: 0; 
}


.base-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 700px) {

  .base-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 900px) {
  .base-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1200px) {
  .base-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}
@keyframes l7 {to{transform: rotate(.5turn)}}


.base-card-style {
  @apply flex flex-col gap-2 border-2 bg-white rounded-lg p-4 min-w-[250px] max-w-[450px] flex-1 hover:shadow-md hover:shadow-slate-200;
}


.home-card-style{
  @apply flex flex-col gap-2 border-2 bg-white rounded-lg p-4 min-w-[250px] flex-1 hover:shadow-md hover:shadow-slate-200;
}

.home-card-p-style {
  @apply text-[0.80rem] font-normal text-gray-600
}