@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.bg-grey {
  background-color: #f8fafc;
}

.base-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 700px) {

  .base-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 900px) {
  .base-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1200px) {
  .base-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}
@keyframes l7 {to{transform: rotate(.5turn)}}


.base-card-style {
  @apply flex flex-col gap-2 border-2 bg-white rounded-lg p-4 min-w-[250px] max-w-[450px] flex-1 hover:shadow-md hover:shadow-slate-200;
}


.home-card-style{
  @apply flex flex-col gap-2 border-2 bg-white rounded-lg p-4 min-w-[250px] flex-1 hover:shadow-md hover:shadow-slate-200;
}

.home-card-p-style {
  @apply text-[0.80rem] font-normal text-gray-600
}